<template>
    <v-chart class="chart" :option="chartOptions" />
</template>

<script>
    import { use } from "echarts/core";
    import { BarChart } from "echarts/charts";
    import VChart from "vue-echarts";
    import { ref, defineComponent } from "vue";

    import data from '../json_data/trips_count_data.json'

    console.log(data)

    use([
        BarChart
    ])

    export default defineComponent({
        name: "BarDataReport",
        components: {
            VChart
        },
        setup () {
            const chartOptions = ref({
                xAxis: {
                    type: 'category',
                    // data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    data: data.station_name
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                    // data: [120, 200, 150, 80, 70, 110, 130],
                    data: data.trips_count,
                    type: 'bar'
                    }
                ]
            })

            return { chartOptions };
        }
    })
</script>

<style scoped>
    .chart {
        height: 400px;
    }
</style>