<template>
    <div>
        <p-chart 
            type="bar"
            :data="chartData"
        />
    </div>
</template>

<script>
    import { defineComponent } from "vue";
    import data from '../json_data/trips_count_data.json'
    
    export default defineComponent({
        name: "PrimeVueBarGraph",
        data() {
            return {
                chartData: {},
                // basicData: {
                //     labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                //     datasets: [
                //         {
                //             label: 'My First dataset',
                //             backgroundColor: '#42A5F5',
                //             data: [65, 59, 80, 81, 56, 55, 40]
                //         },
                //         {
                //             label: 'My Second dataset',
                //             backgroundColor: '#9CCC65',
                //             data: [28, 48, 40, 19, 86, 27, 90]
                //         }
                //     ]
                // }
            }
        },
        mounted() {
            this.getChartData()
        },
        methods: {
            getChartData() {
                this.chartData = {
                    labels: data.station_name,
                    datasets: [
                        {
                            label: "Trip counts",
                            data: data.trips_count
                        }
                    ]
                    // data: data
                }

                console.log('chartData', this.chartData)
                console.log('DATA', data)
            }
        }
    })
</script>